


<div class="wrapper mt-20">
    <h2>Home</h2>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrib</p>


    <h2>Select color</h2>
    
    
    
        <ul class="colors">
            <li class="red" value="#ff6666"></li>
            <li class="green" value="#a8da82"></li>
            <li class="orange" value="orange"></li>
            <li class="pink" value="pink"></li>
            <li class="blue" value="#6c9fec"></li>
            
        </ul>
    
       
    
        <div class="color-box" *ngIf="1==1">
                <h1 class="chnage_color">Your Selected <span class="color-name">Red</span></h1>
        </div>

        <div class="color-box" *ngIf="1==5">
            <h1 class="chnage_color">Your Selected <span class="color-name">Red</span></h1>
    </div>

</div>